services:
  postgres:
    image: pgvector/pgvector:0.8.0-pg15
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  redis:
    image: redis
    ports:
      - 6379:6379
    restart: unless-stopped